.gitignore

# Base de datos (Django, SQLite, otros)
*.sqlite3
*.db
*.sql
*.bak

# Archivos de entorno
.env
.env.*
env

# Migraciones de Django
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Ignorar base de datos SQLite
db.sqlite3
# Ignorar node_modules de frontend
FRONTEND/node_modules/

# Ignorar logs
*.log

# Ignorar archivos de sistema y editores
.vscode/
.idea/
.DS_Store

# Otros
*.env
*.bak

# Python bytecode
*.pyc
__pycache__/