html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* evita problemas de ancho con padding/margin */
  overflow-x: hidden;     /* evita scroll horizontal global */
  font-family: 'Urbanist', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

main {
  flex: 1 !important;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: 'Urbanist', sans-serif;
  margin-top: auto;
}
