.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 20px 10px;
  font-family: 'Urbanist', sans-serif;
  
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-contenido {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.links {
  flex: 1;
  min-width: 200px;
}

.links p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
  transition: none !important; 
}

.link {
  display: flex;
  align-items: center;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #f26be2;
}

/* Íconos  */
.link:hover .icono-footer {
  color: #f26be2;
  transform: none !important;
  transition: none !important;
}

.icono-footer {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #fff;
  transition: none !important;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  color: #999;
  font-size: 0.9rem;
  border-top: none !important; 
}

@media (max-width: 768px) {
  .footer-contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links {
    margin-bottom: 30px;
  }

  .link {
    justify-content: center;
  }

  .footer-bottom {
    padding-top: 10px;
    font-size: 0.8rem;
  }
}