html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Urbanist', sans-serif;
}

#root {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

main {
  flex: 1 !important;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: 'Urbanist', sans-serif;
}